
body {
	margin: 0;
	background-color: #FFFFFF;
}

#header {
	height: 60px;
	border-bottom: 3px solid #4662b3;
	background-color: #eaedf3;
}

span.title {
	font-size: 3em;
	font-weight: 700;
	color: #2a58dc;
	padding-left: 50px;
}

.side {
  border-bottom: 3px solid #4662b3;
	border-right: 3px solid #4662b3;
  width: 170px;
	padding-right: 10px;
	float: left;
  clear: left;
}

.side ul {
	list-style: none;
	padding-top: 8px;
}

.side li {
	margin-bottom: 10px;
	margin-left: -18px;
}

.side li a {
	color : #4662b3;
	background-color : #eaedf3;
	border : 1px solid #4662b3;
	padding: 4px 15px 4px 15px;
	text-decoration : none;
	display: block;
	width: 100px;
}

.side li a:hover {
	background-color : #4662b3;
	color : #eaedf3;
	border : 1px solid #eaedf3;
	text-decoration : none;
}

.side li a#current {
	background-color : #4662b3;
	color : #eaedf3;
	border : 1px solid #eaedf3;
	text-decoration : none;
}


#content {
	/* margin: top, right, bottom, left */
  margin: 20px 20px 0 210px;
}

.box {
	border: 1px solid #000000;
	margin-bottom: 15px;
}

.boxcontent {
	padding: 5px 20px 5px 20px;
	background-color : #eaedf3;
}

.boxtop {
	background-color: #4662b3;
	color: #FFFFFF;
	padding-left: 5px;
	border-bottom: 1px solid #000000;
}

.boxtop a:link, .boxtop a:hover, .boxtop a:visited, .boxbottom a:link, .boxbottom a:hover, .boxbottom a:visited {
	color: #ffffff;
	text-decoration: underline;
}

.boxbottom {
	background-color: #4662b3;
	color: #FFFFFF;
	padding-left: 5px;
	border-top: 1px solid #000000;	
}

#footer {
  padding-top: 7px;
  padding-bottom: 7px;
	border-top: 3px solid #4662b3;
	background-color: #eaedf3;
	text-align: center;
	font-size: 90%;
}

h1,h2,h3,h4,h5,h6 {
	color: #4662b3;
}

a:link {
	color: #4662b3;
	text-decoration: none;
}
a:visited {
	color: #4662b3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

acronym,abbr {
	border-bottom: 1px dotted #000000;
	cursor: help;
}

p {
	font-size: 85%;
}

#content p {
	padding-left: 8px;
}

li {
	font-size: 85%;
}

dt {
	font-weight: bold;
	margin-top: 1em;
}